.academic__courses__item__subtitle {
    font-weight: 500;
}

/* Responsive */
@media screen and (min-width: 0px) {
    .academic__courses__item__subtitle {
        font-size: 0.875rem;
    }
}
  
@media screen and (min-width: 1024px) {
    .academic__courses__item__subtitle {
        font-size: 1rem;
    }
}