/* Responsive */
@media screen and (min-width: 0px) {
    .title__profile {
        width: 6.125rem;
        height: 6.125rem;
    }
}
  
@media screen and (min-width: 768px) {
    .title__profile {
        width: 9.125rem;
        height: 9.125rem;
    }
}
  
@media screen and (min-width: 1024px) {
    .title__profile {
        width: 23rem;
        height: 23rem;
    }
}
